
<!-- start portfolio   -->
<section class="portfolio">
    <div class="content">
        <img  [lazyLoad]="img1" alt="Laptop with Code">
        <div class="description">
            <h2>Our Portfolio</h2>
            <p>A glimpse of some of our projects and people we’ve been fortunate to work with.</p>
        </div>
    </div>
</section>

<!-- end portfolio -->

<div class="mobile">
    <div class="container">
        <div class="web" >
            <h1>Mobile & Web Applications</h1>
            <p>This showcase highlights various mobile and web applications developed for different industries, aimed at providing the best user experience and functionality.</p>
        </div>
        <section class="app" id="esopos">
            <div class="app-info">
                <img src="img/esopos.webp" alt="" >
                <p>Providing Point-of-Sale and inventory solutions to small and medium businesses.</p>
                <div class="details">
                    <div class="detail">
                        <p>PHASE</p>
                        <p>Grow</p>
                    </div>
                    <div class="detail">
                        <p>SERVICES</p>
                        <p>Sales & Inventory </p>
                        <p>management</p>
                    </div>
                    <div class="detail">
                        <p>PLATFORMS</p>
                        <p>Web, Mobile</p>
                    </div>
                </div>
            </div>
            <img src="img/mobile.png" alt="">
        </section>

        <!-- end esopos  -->
        <section class="app" id="stacksend">
            <div class="app-info">
                <img src="img/stacksend.svg" alt="" >
                <p>AI Powered Chatbot Builder that enables businesses engage customers wherever they are.</p>
                <div class="details">
                    <div class="detail">
                        <p>PHASE</p>
                        <p>Grow</p>
                    </div>
                    <div class="detail">
                        <p>SERVICES</p>
                        <p>Chatboot builder </p>
                    </div>
                    <div class="detail">
                        <p>PLATFORMS</p>
                        <p>Web</p>
                    </div>
                </div>
            </div>
            <img src="img/laptopcon.png" alt="">
        </section>

        <!-- end stacksend  -->
        <section class="app" id="evergenius">
            <div class="app-info evergenius ">
                <img src="img/mycovergenius_cover.png" alt="" >
                <p>Cross-platform Vehicle Inspection platform for Bolt drivers.</p>
                <div class="details">
                    <div class="detail">
                        <p>PHASE</p>
                        <p>Grow</p>
                    </div>
                    <div class="detail">
                        <p>SERVICES</p>
                        <p>Vehicle inspection </p>

                    </div>
                    <div class="detail">
                        <p>PLATFORMS</p>
                        <p>Web, Mobile</p>
                    </div>
                </div>
            </div>
            <img src="img/convmobile.png" alt="">
        </section>

        <section class="app" id="mycoevergenius">
            <div class="app-info evergenius">
                <img src="img/logo1.png" alt="" >
                <p>Convenient and affordable Insurance plans and offerings on all devices.</p>
                <div class="details">
                    <div class="detail">
                        <p>PHASE</p>
                        <p>Grow</p>
                    </div>
                    <div class="detail">
                        <p>SERVICES</p>
                        <p>Lap equipment </p>

                    </div>
                    <div class="detail">
                        <p>PLATFORMS</p>
                        <p>Web</p>
                    </div>
                </div>
            </div>
            <img src="img/laptopcon.png" alt="">
        </section>

        <!-- end mycoevergenius  -->

        <section class="app" id="oxford">
            <div class="app-info  ">
                <img src="img/buildbay.webp" alt="" >
                <p>Real estate purchase and assets management for everyday people.</p>
                <div class="details">
                  <div *ngFor="let detail of oxforddetails" class="detail">
                    <p>{{ detail.label }}</p>
                    <p>{{ detail.value }}</p>
                  </div>
                </div>
            </div>
            <img src="img/xfordlap.png" alt="">
        </section>

        <section class="app" id="boundlesspay">
            <div class="app-info evergenius ">
                <img src="img/boundlesspay.webp" alt="" >
                <p>Real estate purchase and assets management for everyday people.</p>
                <div class="details">
                  <div *ngFor="let detail of boundlesspaydetails" class="detail">
                    <p>{{ detail.label }}</p>
                    <p>{{ detail.value }}</p>
                  </div>
                </div>
            </div>
            <img ngSrc="img/mob apple.png" alt="" height="1294" width="640">
        </section>
    </div>
</div>

<section class="intro-section">
    <div class="intro">
        <h2>Creating What You Need, The Way You Want Them</h2>
        <p>Petrong developers have excelled in a number of fields due to their deep expertise in software development as a service.</p>
    </div>
    <div class="features">
        <div class="feature">
            <h3>Fast</h3>
            <p>Delivery</p>
        </div>
        <div class="feature">
            <h3>Advance</h3>
            <p>Rate</p>
        </div>
    </div>
</section>


<section class="work-section">
    <div class="work-content">
        <div class="work-text">
            <h2>Do you have a next level-idea?</h2>
            <p>Reach out and we can create magic together</p>
        </div>
        <button onclick="WorkWithUs()">Work With Us</button>
    </div>
</section>



