
<!----------------------------- Expertise  ---------------------->
<section class="expertise p-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="img/first.jfif" alt="Meeting" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="expertise-content position-relative">
                    <div class="expertise-icon position-absolute"></div>
                    <div class="expertise-circle position-absolute"></div>
                    <h1 class="fw-bold">EXPERTISE</h1>
                    <p>We provide reliable service to our client that is unbeatable.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!----------------------------- Digital Product ----------------->
<section class="digital-product-design py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <p class="text-muted fs-1">01</p>
                <h1 class="mb-4 fw-bold">Digital Product Design.</h1>
                <p class="mb-4 fw-bold">The best software has both a strong back-end and a good front-end. We've got
                    the
                    tools and expertise to assist you in creating an intuitive and engaging user experience that
                    your customers will love and your rivals will envy. Our UX/UI Design Services include:</p>
                <ul class="list-unstyled mb-4 fw-bold">
                    <li><span class="circle"></span>Design Workshops</li>
                    <li><span class="circle"></span>UX & UI Consulting</li>
                    <li><span class="circle"></span>Creative Direction</li>
                    <li><span class="circle"></span>Prototyping</li>
                    <li><span class="circle"></span>Usability Testing</li>
                </ul>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
            <div class="col-md-5">
                <img src="img/second.jfif" alt="Product Design">
            </div>
        </div>
    </div>
</section>


<!----------------------------- WEb MObile Dev ------------------>
<section class="WEB-DEV py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="img/third.jfif" alt="Product Design" class="img-fluid">
            </div>
            <div class="col-md-7">
                <p class="text-muted fs-1">02</p>
                <h1 class="fw-bold mb-4">Web & Mobile Development</h1>
                <p class="mb-4 fw-bold">We build custom applications to help companies save smarter, grow faster,
                    serve
                    better; through automation, business process management, to create unique advantages for the
                    business. We have been trusted by many businesses to build their entire technology from the
                    ground up. With a highly-qualified, committed, and results-driven team, we can provide modern,
                    scalable, and easily maintainable software solutions.</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</section>
<!--------------------------- Cloud Deployment ------------------>
<section class="Cloud_Deplyment py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <p class="text-muted fs-1">03</p>
                <h1 class="fw-bold mb-4">Cloud, DevOps & <br> Deployment</h1>
                <p class="mb-4">We assist clients in leveraging cloud technologies while avoiding any of the IT pain
                    points. We create public cloud applications to allow agile, future-ready business models, and we
                    use automation to speed up and reduce costs in your infrastructure.</p>
                <p class="mb-4">Our DevOps consulting services will support you with each of the three main elements
                    of your DevOps transition, from deployment to optimization. Our DevOps services will assist you
                    in selecting best-in-class resources, equipping your team with the necessary skills, and
                    fine-tuning your processes in order to break down silos, collaborate more effectively, and
                    achieve a cultural shift that supports DevOps thinking</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
            <div class="col-md-5">
                <img src="img/fourth.jfif" alt="Product Design" class="img-fluid">
            </div>
        </div>
    </div>
</section>


<!------------------------------ Contact ------------------------->
<section id="contact" class="text-center p-5">
    <h1 class="mb-5 fw-bold">Let's build great things together!</h1>
    <p class="mb-5">Fill out this form and one of our client success managers will contact you within 24 hours .We
        <br> have notifications set to make sure your message is received.
    </p>
    <a href="#" class="btn btn-primary">Contact</a>

</section>

<!------------------------------- Idea --------------------------->
<section id="New_Idea" class="p-5 m-4">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 class="fw-bold mb-3">Do you have a next level-idea ?</h1>
                <p class="text-muted">Reach out and we can create magic together</p>
            </div>
            <div class="col-md-3 d-flex justify-content-between align-items-center">
                <a href="#" class="btn btn-primary fs-4">WORK WITH US</a>
            </div>
        </div>
    </div>
</section>



<!--<script src="JS/bootstrap.bundle.min.js"></script>
<script src="JS/js/jquery-3.4.1.min.js"></script>-->
