<section class="who-we-are">
    <div class="container">
        <div class="image-container">
            <img src="img/206-033610-laptop-coworking-space_700x400.jpg" alt="">
            <div class="who">
                <p>We want to build a world where great ideas, products, and companies come to fruition quickly whilst achieving the required impact. Our work is to facilitate the process.</p>
                <p><strong>Rasheed Ogunusi</strong><br>CTO</p>
            </div>
        </div>
        <div class="text-container">
            <h3> Who We Are </h3>
            <h1>We combine our experience and passion to develop solutions that empower businesses.</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard text ever since the 1500s, when an unknown printer took of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
<!-- end our who we are -->


<!-- start our services -->
<section class="our-services">
    <div class="container slide-our">
        <h3>OUR SERVICES</h3>
        <h1>Methodologies & Technology We Use.</h1>
        <p>We build our product from scratch with topmost frontend and backend framework. We also focus on native end user experiences, providing full performance on both iOS and Android devices.</p>
    </div>
</section>

<!-- end our services -->

<!-- start technologies  -->
<section class="technologies">
    <div class="container">
        <div class="techno-item left">
            <h3>01</h3>
            <h2>Node.js</h2>
            <a href="https://nodejs.org/" target="_blank"><p class="arrow">→</p></a>
        </div>
        <div class="techno-item right">
            <h3>02</h3>
            <h2>Laravel</h2>
            <a href="https://laravel.com/"  target="_blank"><p class="arrow">→</p></a>
        </div>
        <div class="techno-item left">
            <h3>03</h3>
            <h2>Vue.js</h2>
            <a href="https://vuejs.org/"  target="_blank"><p class="arrow">→</p></a>
        </div>
        <div class="techno-item right">
            <h3>04</h3>
            <h2>React.js</h2>
            <a href="https://react.dev/"  target="_blank"><p class="arrow">→</p></a>
        </div>
    </div>
</section>
<!-- end technologies  -->


<!-- start our value -->
<section class="our-value">
    <div class="container">
        <div class="value-container leftv">
            <h2>OUR VALUE</h2>
            <h1>A melting pot for the best idea</h1>
            <div class="value-item">
                <div class="icon">❤️</div>
                <div class="content">
                    <h3>Integrity</h3>
                    <p>We hold ourself to a strong ethical and moral code</p>
                </div>
            </div>
            <div class="value-item">
                <div class="icon">✅</div>
                <div class="content">
                    <h3>Trust</h3>
                    <p>We are dependable loyal and hard working to achieve the same goal.</p>
                </div>
            </div>
            <div class="value-item">
                <div class="icon">🏆</div>
                <div class="content">
                    <h3>Excellence</h3>
                    <p>We consistently strive to do high-quality work and give no room for error.</p>
                </div>
            </div>
        </div>
        <div class="value-image-container rightv">
            <img src="img/Office-Computer-e1643095967847.jpg" alt="">
        </div>
    </div>
</section>
<!-- end our value -->


<!-- start Our team  -->
<section class="team-section">
    <div class="rights">
        <h2>Our Team</h2>
        <p>Collaborating and optimizing for growth</p>
        <p>The team at petrong we are powering the growth of African technology ecosystem</p>
    </div>
    <div class="team-container">
      <div *ngFor="let member of teamMembers" class="team-member">
        <img [src]="member.img" [alt]="member.name">
        <h3>{{ member.name }}</h3>
        <p>{{ member.role }}</p>
    </div>
    </div>
</section>

<!-- end Our team  -->


<!-- start work-section  -->

<section class="work-section">
    <div class="work-content">
        <div class="work-text">
            <h2>Do you have a next level-idea?</h2>
            <p>Reach out and we can create magic together</p>
        </div>
        <button (click)="workWithUs()">Work With Us</button>

    </div>
</section>

<!-- end work-section  -->
