
<section class="background-section">
    <div class="container">
        <div class="left">
            <h1>Get the next level developments</h1>
            <p>
                Join our in-house team of professional developers. While constantly looking for new horizons, challenges, and opportunities in the web development, we have focused our attention on these core areas:
            </p>
            <div class="buttons">
                <button class="quote">Get a Quote</button>
                <button class="call">Schedule a call</button>
            </div>
        </div>
        <div class="right">
            <!--<div class="nav">
                <li><a routerLink="/home">HOME</a></li>
                <li><a routerLink="/about">ABOUT</a></li>
                <li><a routerLink="/portfolio">PORTFOLIO</a></li>
                <li><a routerLink="/product">PRODUCT</a></li>
                <li><a routerLink="/expertise">EXPERTISE</a></li>
                <li><a routerLink="/contact">CONTACT</a></li>
                <li><a routerLink="/blog">BLOG</a></li>
            </div>-->
            <div class="green-overlay-top-right"></div>
            <div class="green-overlay-bottom-left"></div>
            <div class="green-overlay-bottom-right"></div>
            <img src="img/22e27c45-508d-4336-bddb-84a434c901a7.jfif" alt="Placeholder Image">
        </div>
    </div>
</section>
<section class="services-section">
    <div class="services-container">
        <div class="services-image">
            <img src="img/0f4f6dbc-ac4f-4c41-8656-b8c338e667a4.jfif" alt="Services Image">
        </div>
        <div class="services-content">
            <h2>Our Core Services</h2>
            <p>Our technology solutions are perfectly designed to ensure the virtual world meets your needs.</p>
            <ul class="services-list">
                <li>
                    <div class="service-icon"><img src="img/أفضل-كورسات-تعلم-البرمجة-على-يوديمي.webp" alt="Web Development Icon"></div>
                    <div class="service-description">
                        <h3>Web Development</h3>
                        <p>We convert any design file: PSD, Sketch, Figma, Adobe XD to pixel-perfect, semantic, and standard-compliant HTML/CSS templates.</p>
                    </div>
                </li>
                <li>
                    <div class="service-icon"><img src="img/كورسات-برمجة-اون-لاين-بشهادة-معتمدة-2023-1024x849.webp" alt="Mobile Applications Icon"></div>
                    <div class="service-description">
                        <h3>Mobile Applications</h3>
                        <p>We do highly customizable, easy-to-manage, and extendable WordPress solutions. Plugins, themes, or an eCommerce. We can do it.</p>
                    </div>
                </li>
                <li>
                    <div class="service-icon"><img src="img/كورسات-برمجة-تجعلك-مبرمجًا-محترفًا.png" alt="Shopify & Woo Commerce Development Icon"></div>
                    <div class="service-description">
                        <h3>Shopify & Woo Commerce Development</h3>
                        <p>We know the ins and outs of Shopify & WooCommerce and we can help you get your eCommerce site running in a matter of weeks.</p>
                    </div>
                </li>
                <li>
                    <div class="service-icon"><img src="img/كورسات-برمجة-للمبتدئين.webp" alt="Vue - React Development & Email Template Coding Icon"></div>
                    <div class="service-description">
                        <h3>Vue - React Development & Email Template Coding</h3>
                        <p>Performance, Scalability, Reusable Components, One Way Data Flow - the perfect ingredients for building websites or web apps, also high-class coding for email marketing.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="partnership-section">
    <div class="partnership-container">
        <div class="partnership-image">
            <img src="img/best-free-coding-courses-classes-tutorials-certification-training-online.jpg" alt="Partnership Image">
        </div>
        <div class="partnership-content">
            <h2>Partnership for agencies</h2>
            <p>A reliable coding partner that delivers solutions to your business challenges and stays by your side in the long term. Having the whole spectrum of web development expertise, we are here to take care of your projects while making it possible for you to focus on growing your own business.</p>
            <button class="partnership-details">Partnership Details</button>
        </div>
    </div>
</section>


<section class="testimonial-section">
    <div class="testimonial-header">
        <h3>TESTIMONIALS</h3>
        <p>See how our clients feel about us.</p>
    </div>
    <div class="testimonial-card">
        <!--<img src="./assets/img/testimonial.jpg" alt="John Doe">-->
        <p class="testimonial-text">Working with the PETRONG team has been a huge success! They're good people who care deeply about our business!</p>
        <p class="testimonial-author">
            <span>John Doe</span>
            <span>CEO</span>
            <span>Leonard Technologies</span>
        </p>
        <div class="testimonial-controls">
            <div class="arrow up" onclick="scrollToPreviousTestimonial()"></div>
            <div class="arrow down" onclick="scrollToNextTestimonial()"></div>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="img/best-free-coding-courses-classes-tutorials-certification-training-online.jpg" alt="About Image">
        </div>
        <div class="about-content">
            <h2>Petron & Pacioli</h2>
            <p>Pacioli is the flagship product at petrony software solutions, a tailored digital lending tools that helps microfinance institutions to efficiently and quickly onboard customers and to account reconciliation with financial inclusion as the motivation. Pacioli improves female customers comfort with the service by specifically design for unique constraint.</p>
            <button class="about-details">Pacioli</button>
            <button class="demo-video">Demo Video</button>
        </div>
    </div>
</section>


<section class="our-promise">
    <h1>Our Promise</h1>
    <p>As part of our high quality service, we’d like to offer something extra too.</p>
    <div class="promise-cards">
        <div class="card">
            <h3><i class="icon">icon</i>Top Code Quality</h3>
            <p>What we promise is not simply code but rather a solution. You get a W3C fully compliant markup with no compromise on quality.</p>
        </div>
        <div class="card">
            <h3><i class="icon">icon</i>Responsive</h3>
            <p>We know you look for positive attitude, timely reaction, and flexibility. We are here to listen and give the utmost of our capabilities.</p>
        </div>
        <div class="card">
            <h3><i class="icon">icon</i>Rockstar Team</h3>
            <p>Expertise is our USP. You get an all-star squad of experienced geeks, fully at your service and armed with coding skills to die for.</p>
        </div>
        <div class="card">
            <h3><i class="icon">icon</i>Fast Turn-arounds</h3>
            <p>Speed matters no less than quality. We are fast, agile and capable of delivering top notch quality code in a timeframe chosen by you.</p>
        </div>
        <div class="card">
            <h3><i class="icon">icon</i>Life-time support</h3>
            <p>The ultimate proof of our code quality: you get our non-expiring support. If any bugs happen to appear in the future, just write us a line.</p>
        </div>
        <div class="card">
            <h3><i class="icon">icon</i>Secured Agreement</h3>
            <p>Your artwork is fully yours and we would never claim otherwise. You get our word and our full willingness to sign an NDA.</p>
        </div>
        <div class="card">
            <h3><i class="icon">icon</i>Life-time support</h3>
            <p>The ultimate proof of our code quality: you get our non-expiring support. If any bugs happen to appear in the future, just write us a line.</p>
        </div>
        <div class="card">
            <h3><i class="icon">icon</i>Secured Agreement</h3>
            <p>Your artwork is fully yours and we would never claim otherwise. You get our word and our full willingness to sign an NDA.</p>
        </div>
    </div>
</section>

<section class="next-level-idea">
    <h2>Do you have a next level-idea?</h2>
    <p>Reach out and we can create magic together</p>
    <button>Work With Us</button>
</section>


<!--<script src="js/bootstrap.bundle.min.js"></script>
<script src="scripts.js"></script>-->

