
<section class="contact-us">
    <div class="contact-image">
        <img src="img/032ba4a3-9725-41f5-8d90-c6872a77b561.jfif" alt="Contact Us Image">
    </div>
    <div class="contact-info">
        <h2>Contact Us</h2>
        <p>We are located in Nigeria and we operate internationally, with clients from the US, UK, Canada, Australia, and many other countries.</p>
    </div>
</section>

<section class="form-section">
    <div class="form-container">
        <h2>Let build something awesome together</h2>
        <form action="#">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email">
            <label for="message">Your Message</label>
            <textarea id="message" name="message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="visit-us">
        <h2>Pay us a visit</h2>
        <p>471, Alagbodo off Ijayo ojokoro, Inner Street Long Road, Lagos Nigeria</p>
        <p>Email: partnerships &#64; petrongsolutions.com</p>
        <p>Phone: +234 810 7968 541</p>
    </div>
</section>


<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/Contact.js"></script>
