<header>
    <div class="logo">Logo Here</div>
    <nav>
        <ul>
            <li><a routerLink="/home">HOME</a></li>
            <li><a routerLink="/about">ABOUT</a></li>
            <li><a routerLink="/portfolio">PORTFOLIO</a></li>
            <li><a routerLink="/product">PRODUCT</a></li>
            <li><a routerLink="/expertise">EXPERTISE</a></li>
            <li><a routerLink="/contact">CONTACT</a></li>
            <li><a routerLink="/blog">BLOG</a></li>
        </ul>
    </nav>
</header>
