
<section class="booking-section">
    <div class="image-container left">
        <img src="img/pngtree-tabletop-scene-laptop-and-coffee-cup-in-3d-rendering-image_3648659.jpg" alt="Coffee and phone">
    </div>
    <div class="booking-details right">
        <h2>Book a call</h2>
        <p>Select a suitable time slot and have a face-to-face video call with a project manager to discuss your needs.</p>
    </div>
</section>

<section class="booking-section2">
    <div class="message-box" id="message-box">
    </div>
    <form id="booking-form">
        <div class="inline-fields">
            <div class="field">
                <label for="month">Month</label>
                <select id="month" name="month">
                  <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                </select>
            </div>
            <div class="field">
                <label for="day">Day</label>
                <select id="day" name="day">
                  <option *ngFor="let day of days" [value]="day.value">{{ day.label }}</option>
                </select>
            </div>
            <div class="field">
                <label for="time">Time</label>
                <select id="time" name="time">
                  <option *ngFor="let time of times" [value]="time.value">{{ time.label }}</option>
                </select>
            </div>
        </div>

        <label for="timezone">Time Zone</label>
        <select id="timezone" name="timezone">
            <option *ngFor="let timezone of timezones" [value]="timezone.value">{{ timezone.label }}</option>
          </select>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Your Name" required>
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Enter Your Email" required >
        <label for="topics">Please share the topics you would like to discuss. That will help us prepare for our meeting.</label>
        <textarea id="topics" name="topics" placeholder="Enter Comment"></textarea>
        <button type="button" onclick="showAlert()">Schedule Meeting</button>
    </form>
</section>
