<footer>
    <div class="footer-links">
        <div>
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Our Policy</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div>
            <h3>Our Services</h3>
            <ul>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Digital Product Design</a></li>
                <li><a href="#">Cloud/DevOps</a></li>
                <li><a href="#">Mobile Applications</a></li>
                <li><a href="#">Dedicated Development Team</a></li>
            </ul>
        </div>
        <div>
            <h3>Our Technologies</h3>
            <ul>
                <li><a href="#">Laravel Development</a></li>
                <li><a href="#">React JS App Development</a></li>
                <li><a href="#">Vue JS App Development</a></li>
            </ul>
        </div>
        <div>
            <h3>Contact & Follow Us</h3>
            <ul>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
            <p>Email: info&#64;petrongsolutions.com</p>
            <p>Phone: +234 0800-000-0000</p>
        </div>
    </div>
    <p> Software Solution Copyright 2022 - All Right Reserved</p>
</footer>